<ion-view view-title="What To Expect"
 on-swipe-left="goToPage('tab.4-find_closest_gp')"
 on-swipe-right="goToPage('tab.6-you_are_ready')">
  <ion-content class="has-header">
		<div class="card">
		  <div class="item item-text-wrap">
		  	Your GP may ask for a letter with an address on, or a picture of you (ID).  If you have one or both of these things then great -- take that with you.  If not then don't worry!  You don't need them to be able to join and see a GP, simply show them this letter:<br />
		  	<a href=""><img src="" /></a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		  	<h3>If you are having problems joining</h3>
		  	Still can't join the GP?  Contact one of these charities.  Or <ng-link>let us know</ng-link>.
				<div class="row center">
			  	<div class="col col-33"><img id="brcPic" src="img/british_red_cross.jpg" /></div>
			  	<div class="col col-33"><img id="dowPic" src="img/doctors_of_the_world.jpg" /></div>
			  	<div class="col col-33"><img id="nhsPic" src="img/national_health_service.jpg" /></div>
			  </div>
		  </div>
		</div>
  </ion-content>
</ion-view>
