<ion-view view-title="Meet a GP"
 on-swipe-left="goToPage('tab.2-welcome')"
 on-swipe-right="goToPage('tab.4-find_closest_gp')">
  <ion-content class="has-header">
		<p>I am a GP - that means I am a General practitioner or a family doctor. 
		I can look after you when you are ill. I can also help you to stay well. 
		I am close to your house or where you sleep so I’m always nearby.</p>

		<p>Ask at the reception desk to join. Everyone regardless of their
		immigration status is allowed to join a practice and have a doctor like me -
		and this is a free service.</p>

		<p>Sometimes I am very busy and you may have to wait for an appointment 
		but you can discuss this at the reception desk - and they can help work 
		out with you when you can be seen</p>

		<p>At our appointment we will usually have up to ten mins to talk about
		your health needs.</p>

		<p>I look forward to meeting and working with you.</p>
  </ion-content>
</ion-view>