<ion-view view-title="What To Expect"
 on-swipe-left="goToPage('tab.6-you_are_ready')">
  <ion-content class="has-header">
		<div class="letter-body">

<div class="cf">

<div class="fr letter-address"> 
<img src="img/nhs.png"/>
<img src="img/dep-h.png"/>
<p>

Richmond House </br>
79 Whitehall </br>
London </br>
SW1A 2NS </br>
Tel: 020 7210 4850 </br>
 </br>
{{date}}
</p>
</div>

</div>

<div">
<h3 class="title pos-mid">
Letter for GP registration
</h3>
<div>

<br/><br/>
<br/><br/>
<div class="main-text">

<p>Dear Sir/Madam,</p>

<p>My name is {{name}} and I am from {{from}}.</p>

<p>

I would like to register at this GP practice. The Department of Health have produced this letter to help with registration of all patients. All people regardless of immigration status are entitled to register at a GP practice without any documentation. This is according to the Patient Registration NHS England Guidelines produced in November 2015.

</p>

</div>

<div class="img-sig">
<img src="assets/img/letter-sig.png"/> 
</div>

<p class="bold"> Jeremy Hunt MP </p>


</div>

  </ion-content>
</ion-view>

<link href="css/letter.css" type="text/css" rel="stylesheet">