<ion-view view-title="Welcome"
 on-swipe-right="goToPage('tab.1-language')"
 on-swipe-left="goToPage('tab.3-i_am_a_gp')">
  <ion-content class="has-header center">
    	<br />
  	<h1>GP For Me</h1>
<!-- 		<p>Welcome to GPforME. It will help you get access to free medical care in the UK</p>

		<p>Everybody needs a GP even if you are not sick! So make sure you join one now.</p>

		<p>A GP opens the door to all other help like a dentist, pregnancy care and hospitals</p>

		<p>Don’t worry a GP can help you no matter who you are OR where you come from. And they are free.</p>

		<p>Lets meet my GP who will tell you what they do…</p>
 -->
 		<img class="conversation" src="img/firstConversation.jpg" />
 		<div class="languageContent3">
			<input type="button" value="Meet a GP" ui-sref="tab.3-i_am_a_gp" />
		</div>
		</div>
  </ion-content>
</ion-view>
