<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Language" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/1-language">
    <ion-nav-view name="tab-1-language"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Welcome" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/2-welcome">
    <ion-nav-view name="tab-2-welcome"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Meet a GP" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/3-i_am_a_gp">
    <ion-nav-view name="tab-3-i_am_a_gp"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Find closest GP" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/4-find_closest_gp">
    <ion-nav-view name="tab-4-find_closest_gp"></ion-nav-view>
  </ion-tab>

  <ion-tab title="What to Expect" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/5-what_to_expect">
    <ion-nav-view name="tab-5-what_to_expect"></ion-nav-view>
  </ion-tab>

  <ion-tab title="You are ready" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/6-you_are_ready">
    <ion-nav-view name="tab-6-you_are_ready"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
<!--   <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
 -->
  <!-- Account Tab -->
<!--   <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
 -->
</ion-tabs>
