.center {
	text-align: center;
}

.languageContent {
	background-image: url("../img/indian-doctor-questioning-patient.jpg");
	background-size: 100%;
}

#brcPic {width: 150px;
	vertical-align: middle;}

#dowPic {width: 100px;
	vertical-align: middle;}

#nhsPic {width: 120px;
	vertical-align: middle;}

@font-face {
	font-family: 'Transport';
	src: url("transportMedium.ttf");
}
@font-face {
	font-family: 'TransportMedium';
	src: url("transportMediumGreek.ttf");
}
@font-face {
	font-family: 'TransportHeavy';
	src: url("transportHeavy.ttf");
}

body {
	font-family: Transport;
}

.boldFont {
	font-family: 'TransportHeavy';
}

h1, h2, h3 {
	font-family: 'TransportHeavy';	
}

input[type=button], input[type=submit] {
	font-family: 'Transport';
}



 .fr{float: right;}
 
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.pos-mid{
  position: fixed; /* or absolute */
  left: 50%;	
}